	<div class="panel panel-default">
		<div class="panel-heading" id="data" role="tab">
			<h4 class="panel-title">
				<a aria-controls="research-associate-2" aria-expanded="true" class="collapsed" data-parent="#careers" data-toggle="collapse" href="#research-associate-2" role="button">Research Associate</a></h4>
		</div>
		<div aria-labelledby="data" class="panel-collapse collapse" id="research-associate-2" role="tabpanel">
			<div class="panel-body">
				<p>
					Position will help find solutions to serious technical computing challenges faced by a wide range of research communities. </p>
				<p>
					<strong><a href="https://utaustin.wd1.myworkdayjobs.com/UTstaff/job/PICKLE-RESEARCH-CAMPUS/Research-Associate_R_00023048" target="_blank" title="Apply Now">Apply Now</a></strong></p>
			</div>
		</div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading" id="data" role="tab">
			<h4 class="panel-title">
				<a aria-controls="research-associate" aria-expanded="true" class="collapsed" data-parent="#careers" data-toggle="collapse" href="#research-associate" role="button">Research Associate</a></h4>
		</div>
		<div aria-labelledby="data" class="panel-collapse collapse" id="research-associate" role="tabpanel">
			<div class="panel-body">
				<p>
					Position will contribute to research, development, and support activities involving learning algorithms, systems, and architectures and the interfaces by which users can transparently harness these techniques and technologies.</p>
				<p>
					<strong><a href="https://utaustin.wd1.myworkdayjobs.com/UTstaff/job/PICKLE-RESEARCH-CAMPUS/Research-Associate_R_00021475" target="_blank" title="Apply Now">Apply Now</a></strong></p>
			</div>
		</div>
	</div>
